.table, th, td{
  height: 100px;
  width: 500px;
  align-items: center;
  padding: 30px;
  margin: auto;
  border: 5px solid black;
}

.main{
  width: 50%;
  margin: 100px auto;
  text-align: center;
}

html{
  background: linear-gradient(#00CCFF, #0099FF) no-repeat fixed;
  background-image: url("https://image.freepik.com/free-vector/abstract-background-with-a-3d-pattern_1319-68.jpg") !important ;
  background-size:cover;
  background-repeat: center;
  background-attachment: fixed;

}

input[type=text], input[type=email], input[type=password] {
  width: 50%;
  height: 50px;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(155, 8, 8, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=submit] {
  width: 230px;
  height: 30px;
  font-size: 18px;
  border-radius: 10px;
}


#booking_body{
  align: center;
}
h3{
  font-family: sans-serif;
  font-style: oblique;
}

#reqrecdiv{
  text-align: right;
}

#reqdiv{
  float: left;

}
/* section{
  border-style: solid; border-width:thin; border-color: black;
} */
