<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>BnB</title>
    <link rel="stylesheet" type='text/css' href="/cssfile.css">
  </head>
  <body>
    <% if current_user %>
    <nav>
    <div class='navigation'>
      <a href="/">Home</a>
      <a href="/spaces">View available spaces</a>
      <a href="/spaces/new">List Space</a>
      <a href="/request">Requests</a>
      <!-- <a href="/sessions" data-method="delete">Log out</a> -->
      <form action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="log out" class="logoff">
      </form>
        </div>
      </nav><br>
      <h3> Welcome, <%= current_user.username %></h3>
      <% else %>
      <nav>
      <% if !current_user %>
        <a href="/login">Log in</a>
        <a href="/signup">Sign up</a>
     <% end %>
    </nav>
      <% end %>

      <br><br>
      <% if flash[:errors] && !flash[:errors].empty? %>
        <ul id='errors'>
          <%flash[:errors].each do |error| %>
          <%= error %>
          <% end %>
        </ul>
        <% end %>
      <% if flash[:notice] %>
          <div id="notice">
          <%= flash[:notice] %>
          </div>
      <% end %>
      <div class="main">


      <%= yield %> <!-- this then yields to the view which has been called by your controller -->
      </div>
  </body>
</html>
