<h2>log-in</h2>

<ul>
<br>

<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email" required><br><br>
  <input type="password" name="password" placeholder="password"  required><br><br>
  <input type="submit" value="submit">
</form>
</ul>
