<form action="/spaces/new" method="post">
  <input type="text" name="space_name" placeholder="space name" required>
  <input type="text" name="space_description" placeholder="space description" required>
  <input type="text" name="space_price" placeholder="price per night"  required>
  <input type="text" name="space_availability" placeholder="DD/MM/YY - DD/MM/YY"  required>
  <input type="submit" value="List my Space">
</form>
