

<h2>sign-up</h2>
<ul>


<form action="/signup" method="post">
    <br>
    <input type="text" name="username" placeholder="username" required><br><br>
    <input type="email" name="email" placeholder="email" required><br><br>
    <input type="password" name="password" placeholder="password"  required><br><br>
    <input type="submit" value="Sign up">

</form>
</ul>
