<h3> Listed Spaces </h3><br>
<table>
<% @spaces.each do |space| %>
<form action="spaces/booking/<%=space.id%>">
<tr>
    <td>
      <ul>
        Space Listed By: <%=space.user.username %>
      </ul>
      <ul>
        Space name: <%=space.space_name %>
      </ul>
      <ul>
        Space price: <%=space.space_price%>
      </ul>
      <ul>
        <input type="submit" value="Book here">
      </ul>
    </td>
</tr>

</form>
<% end %>
</table>
